/node_modules
/public/hot
/public/storage/app/audio/*
/public/storage/app/avatars/*
/public/storage/app/covers/*
/public/storage/framework
/public/storage/logs
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/nbproject
