@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Merriweather:900|Open+Sans:400,700|Titillium+Web:400,700');
html {
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Open Sans', san-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {   
    font-family: Merriweather;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

small,
.font_small {
    font-size: 0.8em;
}

span.highlighted {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 4px 0px 4px 12px;
    font-size: 26px;
    color: #ffffff;
    background: #bb1c94;
    margin-right: 0.1em;
}